<div id="banner-cocktails-index">

  <div class="container">

    <h1 class="text-center">Liste des cocktails</h1>

    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(cocktail.photo) %>)">
          <%= cocktail.name %>
        </div>
      <% end %>
    </div>

    <%= link_to "Create a new cocktail", new_cocktail_path, class: 'btn-home' %>

  </div>

</div>
