<div id="new-cocktail">
  <div class="container">
    <h1>Créez votre propre cocktail !</h1>

    <%= render 'form', cocktail: @cocktail %>

    <%= link_to 'Retour aux cocktails', cocktails_path %>
  </div>
</div>
