<div id="cocktail-show">
  <div class="container">
    <h1><%= @cocktail.name %></h1>

    <div class="recette">
      <p>Suivez la recette du chef, et shakez après chaque ajout.</p>
      <% if @cocktail.doses.nil? %>
        <p>Pas encore de dose disponible pour ce cocktail.</p>
      <% end %>
    </div>

    <div class="buttons">
      <%= link_to 'Afficher les doses conseillées', cocktail_doses_path(@cocktail), class: 'btn-create'%>
      <%= link_to 'Retour à la liste des cocktails', cocktails_path, class: 'btn-list' %>
    </div>

  </div>
</div>
