<div id="cocktail-show">
  <div class="container">
    <h1><%= @cocktail.name %></h1>

    <p><%= link_to 'Afficher les doses disponibles', cocktail_doses_path(@cocktail), class: 'btn-create'%></p>
    <%= link_to 'Retour à la liste des cocktails', cocktails_path, class: 'btn-list' %>

  </div>
</div>
