<div class="banner-home">
  <div class="container">
    <div class="banner-home-content">
      <h1>TOTEM <i class="fas fa-cocktail"></i></h1>
      <h2>Partagez les meilleurs cocktails avec vos amis.</h2>
      <div class="btn-home"><%= link_to 'Liste des cocktails', cocktails_path %></div>
      <p><%= link_to 'Ou créez les vôtres', new_cocktail_path %></p>
    </div>
  </div>
</div>
