a {
  color: white;
}

a:hover {
  color: white;
}

#banner-cocktails-index h1 {
  font-size: 3rem;
  font-family: 'Carter One', cursive;
  margin-bottom: 40px;
  padding-top: 40px;
}

#banner-cocktails-index a {
  text-decoration: none;
}

#banner-cocktails-index a.btn-list {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
